<section class="hero is-fullheight">
  <!-- Hero header: will stick at the top -->
  <div class="hero-head">
    <header class="nav">
      <div class="container">
        <div class="nav-left">
          <a class="nav-item">
            <img src="images/logo.svg">
          </a>
        </div>
        <div class="nav-center nav-menu">
          <a class="nav-item">
            Solutions
          </a>
          <a class="nav-item">
            Environment
          </a>
          <a class="nav-item">
            Media
          </a>
          <a class="nav-item">
            Contact
          </a>
        </div>
        <span class="nav-toggle">
          <span></span>
          <span></span>
          <span></span>
        </span>
        <div class="nav-right nav-menu">
          <span class="nav-item">
            <a class="button" href="/login">
              <span class="icon">
                <i class="fa fa-sign-in"></i>
              </span>
              <span>Log In</span>
            </a>
            <a class="button is-info">
              <span class="icon">
                <i class="fa fa-user-plus"></i>
              </span>
              <span>Sign Up</span>
            </a>
          </span>
        </div>
      </div>
    </header>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Title
      </h1>
      <h2 class="subtitle">
        Subtitle
      </h2>
    </div>
  </div>

  <!-- Hero footer: will stick at the bottom -->
  <div class="hero-foot">
  </div>
</section>
