<div class="container">
  <h1 class="title">Routes Generator</h1>
  <b> Step 1: Specify available vehicles in fleet </b>

  <p class="control is-group">
    <label class="checkbox">
      <input type="checkbox" name="">
      Vh. #1 [cap. 1500 Gal]
    </label>

    <label class="checkbox">
      <input type="checkbox">
      Vh. #2 [cap. 1200 Gal]
    </label>

    <label class="checkbox">
      <input type="checkbox">
      Vh. #3 [cap. 1000 Gal]
    </label>
  </p>

  <br/>
  <b> Step 2: Add service jobs</b>
  <div class="columns">
    <div class="column is-half">
      <p class="control has-icon">
        <input class="input" placeholder="Search for clients ...">
        <span class="icon is-small">
          <i class="fa fa-search"></i>
        </span>
      </p>
    </div>
    <div class="column is-half">
    </div>
  </div>
</div>
